extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'error'

block css

block body
	include _layout/header
	//- include _layout/tool	
	main
		section.errorPage
			.container
				.error-name 404
				.description Không tìm thấy trang
				.back-home
					a(href="/" class="btn-backLink") Quay về trang chủ
	include _layout/footer