extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'bancan'

block css

block body
	include _layout/header
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="index.html") Cá nhân
							li.active
								span Bạn cần
		section.banner-page.imageBanner
			.imgBg(style="background-image:url('img/banner_page/banner_bancan.png')")
			.desc
				.container
					.row
						.col-xs-12.col-sm-5.col-lg-5.col-xl-5
							h1.title Bạn cần
							.content Vietbank thấu hiểu mọi nhu cầu của bạn
		section.choose-need
			.container
				select(name="gender")
					option(value="-1") Chọn các nhu cầu bạn cần tìm...
					option(value="1") Nhu cầu vay mua nhà
					option(value="2") Nhu cầu vậy mua 
	main
		include _layout/bancands
	include _layout/footer