extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'thungo'

block css

block body
	include _layout/header-banlanhdao
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap.brown
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="gioithieu.html") Về Vietbank
							li
								a(href="gioithieu.html") Ban lãnh đạo
							li.active
								span Hội đồng quản trị
		section.vietbank-bg
			.container
				.row
					.col-xs-12
						h1.blue Hội đồng quản trị
	main
		include _layout/banlanhdaods
	include _layout/footer