extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'hotro'

block css

block body
	include _layout/header-hotro
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="index.html") Cá nhân
							li
								a(href="hoidap.html") Hỗ trợ
							li.active
								span Câu hỏi thường gặp
		section.banner-page.imageBanner
			.imgBg(style="background-image:url('img/banner_page/banner_bieuphi.png')")
			.desc
				.container
					.row
						.col-xs-12.col-sm-5.col-lg-5.col-xl-5
							h1.title Câu hỏi thường gặp
							.content Đồng hành cùng nhu cầu của bạn mọi lúc mọi nơi
	main
		.container
			.row
				include _layout/sidebar-hotro2
				include _layout/congcutinhtoan1
	include _layout/footer