extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'mangluoi'

block css

block body
	include _layout/header
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="index.html") Cá nhân
							li.active
								span ATMs &amp; Chi nhánh
		section.banner-page.imageBanner
			.imgBg(style="background-image:url('img/banner_page/banner_mangluoi.png')")
			.desc
				.container
					.row
						.col-xs-12.col-sm-5.col-lg-5.col-xl-5
							h1.title ATMs &amp; Chi nhánh
							.content Tìm điểm giao dịch gần nhất để mọi nhu cầu bạn cần được đáp ứng tốt nhất.
	main
		include _layout/mangluoi-ct	
	include _layout/footer