extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'gioithieu'

block css

block body
	include _layout/header-gioithieu
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="gioithieu.html") Về Vietbank
							li
								a(href="gioithieu.html") Giới thiệu
							li.active
								span Tầm Nhìn - Sứ Mệnh - Giá Trị Cốt Lõi
		section.banner-page.imageBanner
			.imgBg(style="background-image:url('img/banner_page/banner_tamnhin.png')")
			.desc
				.container
					.row
						.col-xs-12.col-sm-5.col-lg-5.col-xl-5
							h1.title.bottom Tầm Nhìn - Sứ Mệnh - Giá Trị Cốt Lõi
	main
		include _layout/tamnhin-ct
	include _layout/footer