extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'tintuc'

block css

block body
	include _layout/header-tintuc
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap.brown
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="gioithieu.html") Về Vietbank
							li
								a(href="tintuc.html") Tin tức
							li.active
								span Tin Vietbank
		section.vietbank-bg
			.container
				.row
					.col-xs-12
						h1.blue Tin Vietbank
	main
		include _layout/chitiet-tin
	include _layout/footer