extends _layout/layout

block variables
	- var title = 'VietBank'
	- var bodyclass = 'tuyendung-temp'

block css

block body
	include _layout/header-tuyendung
	include _layout/tool
	section.banner-wrap
		section.breadcrumb-wrap
			.container
				.row
					.col-xs-12
						ol.breadcrumb.mrt-10
							li
								a(href="gioithieu.html") Về Vietbank
							li
								a(href="tuyendung.html") Tuyển dụng
							li.active
								span Cơ hội nghề nghiệp
		section.banner-page.imageBanner
			.imgBg(style="background-image:url('img/banner_page/banner_tuyendungct.png')")
			.desc
				.container
					.row
						.col-xs-12.col-sm-5.col-lg-5.col-xl-5
							h1.title Cơ hội nghề nghiệp
	main
		include _layout/tuyendung-ct
	include _layout/footer