.page-cate
	ul
		+flexbox
		// align-items: center
		// align-content: center
		justify-content: center
		border-bottom: 2px solid darken($white,10%)
		li
			margin-bottom: -2px
			+flexbox
			align-items: center
			align-content: center
			&:after
				content: ''
				display: block
				width: 1px
				height: 30px
				background: darken($white,20%)
				+transform(rotateZ(20deg))
				margin: 0px 20px
			&:last-child
				&:after
					display: none
			a
				display: block
				+fs(14rem)
				line-height: 46px
				font-weight: bold
				text-transform: uppercase
				border-bottom: 2px solid transparent
			&:hover
				a
					color: $red
			&.active
				a
					color: $red
					border-bottom-color: $red