section.yn-detail#step-1
	.container
		.row
			.col-xs-12.col-md-3
				img(src="img/bancan-ct/step_1.png")
			.col-xs-12.col-md-9
				h4.title Chuẩn bị
				.content
					| Hãy xem các bước đầu tiên để biết bạn đã sẵn sàng cho việc mua một căn nhà hay chưa nhé! <br/>
					| Vốn ban đầu: 
					| Rất quan trọng, bạn phải có tối thiểu 30% giá trị căn nhà mà bạn mong muốn. Bạn đã có nguồn vốn ban đầu hay một khoản tiết kiệm chưa? Chúng tôi sẽ giúp bạn tích luỹ:
				.tag
					a(href="#").tagi
						span Tiết kiệm lũy tiến thời gian
					a(href="#").tagi
						span Tiết kiệm Đắc Lợi
					a(href="#").tagi
						span Tiết kiệm tích lũy tương lai
				a(href="#").btn-links
					<i class="fa fa-calculator"></i>
					span Công cụ tính toán
				.note Để hiểu về giá trị căn nhà mà bạn muốn mua và chi phí phải trả
section.yn-detail.even#step-2
	.container
		.row
			.col-md-3
				img(src="img/bancan-ct/step_2.png")
			.col-md-9
				h4.title Tìm kiếm căn nhà mơ ước
				.content Chúng tôi đã cung cấp được những điều bạn cần phải xem xét khi tìm kiếm một ngôi nhà, từ những thứ nhỏ nhất cho đến giá trị một ngôi nhà với giá tốt nhất và có nhiều ưu đãi.
				.tag
					a(href="#").tagi
						span Các dự án BĐS liên kết với Vietbank
					a(href="#").tagi
						span Các mẹo nhỏ khi lựa chọn nhà
section.yn-detail#step-3
	.container
		.row
			.col-md-3
				img(src="img/bancan-ct/step_3.png")
			.col-md-9
				h4.title Thỏa thuận giá và ký hợp đồng mua nhà
				.content Chúng tôi có những chuyên gia giúp bạn thẩm định giá trị căn nhà để được mức giá tốt nhất khi thoả thuận. Hãy để Vietbank hỗ trợ bạn thực hiện hợp đồng mua bán. Điều này giúp đảm bảo quyền lợi cho bạn cũng như là nhanh chóng hơn trong việc hoàn thiện thủ tục hồ sơ vay.
				.tag
					a(href="#").tagi
						span
							<i class="fa fa-file-text-o"></i>
							| Điều kiện, điều khoản vay mua nhà
				a(href="#").btn-links
					<i class="fa fa-home"></i>
					span Xem sản phẩm Vay mua Bất động sản, xây dựng, sửa chữa nhà