section.bancan-ds
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-1
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img1.png", alt="")
					.caption
						h4
							a(href="bancan-ct.html") Chiếc xe hoàn hảo
						.desc Lái ngay về nhà chiếc xe hoàn hảo mà bạn muốn chỉ với thủ tục đơn giản vỏn vẹn trong vòng 8h tại Vietbank.
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-2
					.caption
						h4
							a(href="bancan-ct.html") Ngôi nhà trong mơ
						.desc Vietbank mang giấc mơ “An cư –Lạc nghiệp” đến gần hơn với mọi gia đình Việt.
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img2.png", alt="")
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-3
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img3.png", alt="")
					.caption
						h4
							a(href="bancan-ct.html") Ước mơ du học
						.desc Thấu hiểu những lo lắng của bạn, hãy để chúng tôi chia sẻ và đồng hành cùng bạn qua sản phẩm Cho vay du học với nhiều tiện ích hấp dẫn.
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-4
					.caption
						h4
							a(href="bancan-ct.html") Phát triển kinh doanh
						.desc Luôn sát cánh tạo điều kiện tài chính thuận lợi để bạn có thể nắm bắt cơ hội thực hiện ước mơ gầy dựng một doanh nghiệp thành công.
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img4.png", alt="")
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-5
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img5.png", alt="")
					.caption
						h4
							a(href="bancan-ct.html") Kinh doanh chứng khoán
						.desc Tự tin thử sức mình qua việc kinh doanh chứng khoán khi không còn bất kỳ băn khoăn về vốn.
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-6
					.caption
						h4
							a(href="bancan-ct.html") Tiêu dùng thông minh 
						.desc Chúng tôi sẽ giúp bạn chủ động nguồn tài chính chi trả cho các nhu cầu cuộc sống như: cưới hỏi, du lịch, mua xe, đóng học phí, các chi phí phát sinh đột xuất
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img6.png", alt="")
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-7
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img7.png", alt="")
					.caption
						h4
							a(href="bancan-ct.html") Tích lũy hưu trí
						.desc Chủ động tích lũy ngay hôm nay để an hưởng tuổi già trọn vẹn.
			.col-xs-12.col-md-6.col-lg-3.item-bcWrap
				.item-bc.op-8
					.caption
						h4
							a(href="bancan-ct.html") Tích lũy tương lai
						.desc Bạn sẽ không phải  lo lắng vì số tiền mình đang có còn khiêm tốnvà  mong muốn tối đa hóa lợi nhuận đối với số tiền tiết kiệm của mình sẽ vô cùng đơn giản.
					.thumb
						a(href="bancan-ct.html")
							img(src="img/bancan/bancan_img8.png", alt="")