section.banlanhdao
	.container
		.row
			.col-xs-12
				ul.nav.nav-bld
					li
						a.active(href='banlanhdao.html') Hội đồng quản trị
					li
						a(href='#') Ban kiểm soát
					li
						a(href='#') Ban điều hành
				.bld-wrap
					.item-bld
						figure
							a(href="banlanhdao-ct.html" title="Ban lanh dao")
								img(src="img/banlanhdao/duongngochoa.png" alt="Ban lanh dao")
							figcaption
								h3
									span Ông 
									strong Dương Ngọc Hòa
								.note Chủ tịch Hội Đồng Quản Trị
				.bld-wrap.even
					.row
						.col-xs-12.col-lg-6.offset-lg-3
							.row.flex.flex-wrap.no-gutters
								.col-xs-12.col-sm-6
									.item-bld
										figure
											a(href="banlanhdao-ct.html" title="Ban lanh dao")
												img(src="img/banlanhdao/buixuankhu.png" alt="Ban lanh dao")
											figcaption
												h3
													span Ông 
													strong Bùi Xuân Khu
												.note Phó Chủ tịch Hội Đồng Quản Trị
								.col-xs-12.col-sm-6
									.item-bld
										figure
											a(href="banlanhdao-ct.html" title="Ban lanh dao")
												img(src="img/banlanhdao/duongnhatnguyen.png" alt="Ban lanh dao")
											figcaption
												h3
													span Ông 
													strong Dương Nhất Nguyên
												.note Phó Chủ tịch Hội Đồng Quản Trị
				.bld-wrap
					.row.flex.flex-wrap.no-gutters
						.col-xs-12.col-sm-6.col-lg-3
							.item-bld
								figure
									a(href="banlanhdao-ct.html" title="Ban lanh dao")
										img(src="img/banlanhdao/dangdinhthang.png" alt="Ban lanh dao")
									figcaption
										h3
											span Ông 
											strong Đặng Đình Thắng
										.note Thành viên Hội Đồng Quản Trị
						.col-xs-12.col-sm-6.col-lg-3
							.item-bld
								figure
									a(href="banlanhdao-ct.html" title="Ban lanh dao")
										img(src="img/banlanhdao/dangngoclan.png" alt="Ban lanh dao")
									figcaption
										h3
											span Bà 
											strong Đặng Ngọc Lan
										.note Thành viên Hội Đồng Quản Trị
						.col-xs-12.col-sm-6.col-lg-3
							.item-bld
								figure
									a(href="banlanhdao-ct.html" title="Ban lanh dao")
										img(src="img/banlanhdao/ngokimlien.png" alt="Ban lanh dao")
									figcaption
										h3
											span Bà 
											strong Ngô Kim Liên
										.note Thành viên Hội Đồng Quản Trị
						.col-xs-12.col-sm-6.col-lg-3
							.item-bld
								figure
									a(href="banlanhdao-ct.html" title="Ban lanh dao")
										img(src="img/banlanhdao/tranvanta.png" alt="Ban lanh dao")
									figcaption
										h3
											span Ông 
											strong Trần Văn Tá
										.note Thành viên Hội Đồng Quản Trị