.container
	.row
		.col-xs-12
			ul.nav.nav-bld
				li
					a.active(href='banlanhdao.html') Hội đồng quản trị
				li
					a(href='#') Ban kiểm soát
				li
					a(href='#') Ban điều hành

.container
	section.banlanhdao-ct
		.row.flex.flex-wrap
			.col-xs-12.col-lg-6
				.content
					h1.title
						span Ông 
						strong Dương Ngọc Hòa
					.pst
						span Chủ tịch HĐQT
					.desc
						p - Ông Dương Ngọc Hòa là Cử nhân, trường ĐH Tổng hợp Tp. HCM
						p - Ông Hòa đã có hơn 30 năm kinh nghiệm quản lý, kinh doanh trong các lĩnh vực: Tài chính Ngân hàng, xe máy, bất động sản, y tế, đầu tư, … cả trong và ngoài nước. Với kinh nghiệm quản lý dày dạn trong nhiều lĩnh vực, Ông đã và đang định hướng để xây dựng Vietbank trở thành một ngân hàng TMCP năng động, hiện đại và không ngừng nâng cao năng lực cạnh tranh, sẵn sàng để hội nhập nền kinh tế quốc tế.
					a.btn-back(href="banlanhdao.html")
						i.fa.fa-caret-left
						span Quay lại
			.col-xs-12.col-lg-6
				.avatar
					img(src="img/thungo/chutich.png" alt="Chu tich")