section.banner-section
	.banner.owl-carousel
		.item
			img(src="img/banner/bn1.png", alt="")
			.caption
				.container
					.row
						.col-xs-12.col-sm-10.col-md-8.col-lg-6.col-xl-5
							h4 MÙA ƯU ĐÃI LÃI VAY
							h3 VAY DỄ DÀNG – LÃI HẤP DẪN
							h5 Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà
							.block-activity
								a.icon-favorite(href="#")
									i.fa.fa-star-o
								a.icon-print(href="#")
									i.fa.fa-print
								a.icon-share(href="#")
									i.fa.fa-share-alt
								.social-list
									a.icon-facebook(href="#")
										i.fa.fa-facebook
									a.icon-email(href="#")
										i.fa.fa-envelope-o
									a.icon-instagram(href="#")
										i.fa.fa-linkedin
									a.icon-google(href="#")
										i.fa.fa-google-plus
		.item
			img(src="img/banner/bn1.png", alt="")
			.caption
				.container
					.row
						.col-xs-12.col-sm-10.col-md-8.col-lg-6.col-xl-5
							h4 MÙA ƯU ĐÃI LÃI VAY
							h3 VAY DỄ DÀNG – LÃI HẤP DẪN
							h5 Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà
							.block-activity
								a.icon-favorite(href="#")
									i.fa.fa-star-o
								a.icon-print(href="#")
									i.fa.fa-print
								a.icon-share(href="#")
									i.fa.fa-share-alt
								.social-list
									a.icon-facebook(href="#")
										i.fa.fa-facebook
									a.icon-email(href="#")
										i.fa.fa-envelope-o
									a.icon-instagram(href="#")
										i.fa.fa-linkedin
									a.icon-google(href="#")
										i.fa.fa-google-plus
		.item
			img(src="img/banner/bn1.png", alt="")
			.caption
				.container
					.row
						.col-xs-12.col-sm-10.col-md-8.col-lg-6.col-xl-5
							h4 MÙA ƯU ĐÃI LÃI VAY
							h3 VAY DỄ DÀNG – LÃI HẤP DẪN
							h5 Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà
							.block-activity
								a.icon-favorite(href="#")
									i.fa.fa-star-o
								a.icon-print(href="#")
									i.fa.fa-print
								a.icon-share(href="#")
									i.fa.fa-share-alt
								.social-list
									a.icon-facebook(href="#")
										i.fa.fa-facebook
									a.icon-email(href="#")
										i.fa.fa-envelope-o
									a.icon-instagram(href="#")
										i.fa.fa-linkedin
									a.icon-google(href="#")
										i.fa.fa-google-plus
		.item
			img(src="img/banner/bn1.png", alt="")
			.caption
				.container
					.row
						.col-xs-12.col-sm-10.col-md-8.col-lg-6.col-xl-5
							h4 MÙA ƯU ĐÃI LÃI VAY
							h3 VAY DỄ DÀNG – LÃI HẤP DẪN
							h5 Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà
							.block-activity
								a.icon-favorite(href="#")
									i.fa.fa-star-o
								a.icon-print(href="#")
									i.fa.fa-print
								a.icon-share(href="#")
									i.fa.fa-share-alt
								.social-list
									a.icon-facebook(href="#")
										i.fa.fa-facebook
									a.icon-email(href="#")
										i.fa.fa-envelope-o
									a.icon-instagram(href="#")
										i.fa.fa-linkedin
									a.icon-google(href="#")
										i.fa.fa-google-plus