.col-xs-12.col-lg-9
	section.hotro-ct
		h1.title Biểu mẫu / Biểu phí
		nav.nav.nav-sp
			a(href="#").active Biểu mẫu
			a(href="#") Biểu phí dịch vụ
			a(href="#") Hướng dẫn sử dụng
		.block-bieuMau
			.item-mauphi
				h2.title Mẫu đơn đăng ký tài khoản thanh toán
				ul
					li
						a(href="#") Đăng ký tài khoản thanh toán 1
							span.icon PDF
					li
						a(href="#") Đăng ký tài khoản thanh toán 2
							span.icon PDF
			.item-mauphi
				h2.title Mẫu đơn đề nghị vay vốn đầu tư BĐS
				ul
					li
						a(href="#") Đề nghị vay vốn cá nhân kinh doanh 2
							span.icon PDF
					li
						a(href="#") Đề nghị vay vốn cá nhân kinh doanh 3
							span.icon PDF
			.item-mauphi
				h2.title Mẫu đơn đề nghị vay vốn mua nhà
				ul
					li
						a(href="#") Vay vốn mua nhà 1
							span.icon PDF
					li
						a(href="#") Vay vốn mua nhà 2
							span.icon PDF
			.item-mauphi
				h2.title Mẫu đơn đề nghị cho vay cầm cố STK của VIB có bổ sung TSBĐ khác
				ul
					li
						a(href="#") Mẫu đơn đề nghị cho vay cầm cố STK của VIB có bổ sung TSBĐ 1
							span.icon PDF
					li
						a(href="#") Mẫu đơn đề nghị cho vay cầm cố 2
							span.icon PDF
					li
						a(href="#") Mẫu đơn đề nghị cho vay cầm cố 3
							span.icon PDF