.col-xs-12.col-lg-9
	section.hotro-ct
		h1.title Biểu mẫu / Biểu phí
		nav.nav.nav-sp
			a(href="#").active Mẫu đơn đăng ký
			a(href="#") Biểu phí dịch vụ
			a(href="#") Hướng dẫn sử dụng
			a(href="#") Khác
		.bieumau-bieuphi
			.item-bieumau
				a(href="#") Mẫu đơn đăng ký tài khoản thanh toán 
					span (PDF - 4.92MB)
			.item-bieumau
				a(href="#") Mẫu đơn đề nghị vay vốn cá nhân kinh doanh 
					span (PDF - 4.53MB)
			.item-bieumau
				a(href="#") Mẫu đơn đề nghị vay vốn đầu tư BĐS 
					span (PDF - 2.27MB)
			.item-bieumau
				a(href="#") Mẫu đơn đề nghị vay vốn mua nhà 
					span (PDF - 1.31MB)
			.item-bieumau
				a(href="#") Mẫu đơn đăng ký Thẻ tín dụng Vietbank 
					span (PDF - 0.4MB)
			.item-bieumau
				a(href="#") Mẫu đơn đăng ký Thẻ thanh toán nội địa 
					span (PDF - 7.28MB)
			.item-bieumau
				a(href="#") Mẫu đơn đề nghị vay du học 
					span (PDF - 1.63MB)
			.item-bieumau
				a(href="#") Mẫu đơn đề nghị cho vay cầm cố STK của Vietbank có bổ sung TSBĐ khác
					span (PDF - 0.17MB)