section.tamnhin-camket
	.container
		.row
			.col-xs-12
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/camket/thoamannhucau.png" alt="Thoa man nhu cau khach hang")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Thỏa mãn các nhu cầu khách hàng
								.desc
									p - Luôn phục vụ khách hàng với thái độ tận tâm;
									p - Mở rộng mạng lưới hoạt động, đa dạng hóa các sản phẩm dịch vụ phù hợp với từng đối tượng khách hàng;
									p - Đầu tư công nghệ thông tin, làm cơ sở cho việc phát triển các sản phẩm ứng dụng phương thức giao dịch hiện đại giữa khách hàng với Vietbank;
									p - Không ngừng học hỏi, từng bước hoàn thiện mô hình tổ chức, quy trình nghiệp vụ và các hoạt động của Vietbank;
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-7.col-lg-8
							.content
								h2.title Tôn trọng &amp; Đảm bảo quyền lợi của nhân viên
								.desc
									p - Mỗi CBNV của Vietbank được xem là một cổ đông với vốn góp là năng lực, nhiệt huyết, sự tận tâm hết mình vì công việc. 
									p - CBNV của Vietbank được hưởng:
									p + Mức thu nhập cạnh tranh<br/>
										| + Chế độ phúc lợi thỏa đáng<br/>
										| + Sự thăng tiến về vị trí và chuyên môn<br/>
										| + Cơ hội được rèn luyện
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/camket/tontrongquyenloinhanvien.png" alt="Ton trong quyen loi nhan vien")
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/camket/duytringuyentacquantri.png" alt="Duy tri nguyen tac quan tri")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h3.title Duy trì nguyên tắc quản trị &amp; Điều hành minh bạch
								.desc
									p - Đảm bảo sự phát triển an toàn của Vietbank
									p - Giữ gìn đạo đức trong kinh doanh
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-7.col-lg-8
							.content
								h4.title Thực hiện trách nhiệm với cộng đồng
								.desc
									p - Tuân thủ đầy đủ các quy định của pháp luật
									p - Mỗi thành viên của Vietbank có trách nhiệm với gia đình, cộng đồng &amp; môi trường thể hiện qua các hành động cụ thể hàng ngày.
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/camket/thuchientrachnhiemcongdong.png" alt="Thu hien trach nhiem cong dong")