.col-xs-12.col-lg-9
	section.hotro-ct
		nav.nav.nav-sp
			a(href="#").active Thẻ tín dụng
			a(href="#") Biểu mẫu / Biểu phí
			a(href="#") Tỷ giá / Lãi suất
			a(href="#") Khác
		.thetindung
			.panel-faqs
				.title
					span Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
				.content
					p Nếu thẻ của bạn bị hư hỏng, bạn có thể yêu cần một sự thay thế ở Vietbank hoặc liên hệ với chúng tôi.
					p Một khi bạn đã yêu cầu một thẻ thay thế:
					p • Số thẻ và số PIN sẽ không thay đổi và bạn có thể tiếp tục sử dụng thẻ hiện tại của bạn cho đến khi bạn nhận được một thẻ mới. <br/>
					| • Thẻ mới sẽ được gửi đến bạn trong vòng 7 ngày làm việc. <br/>
					| • Một khi thẻ mới đến, huỷ thẻ hiện tại của bạn và bắt đầu sử dụng một mới ngay lập tức.
					.more
						span Xem thêm 
						a(href="#") Báo cáo thẻ của tôi như bị mất, bị đánh cắp hoặc bị hư hỏng.
			.panel-faqs
				.title
					span Tôi phải làm gì nếu thẻ của tôi đã bị mất hoặc bị đánh cắp ở Việt Nam hay ở nước ngoài?
				.content
					span Nội dung đang được cập nhật
			.panel-faqs
				.title
					span Làm thế nào để báo cáo thẻ của tôi như bị mất, bị đánh cắp hoặc bị hư hại?
				.content
					span Nội dung đang được cập nhật
			.panel-faqs
				.title
					span Chức năng khóa tạm thời trên thẻ tín dụng của tôi sẽ ảnh hưởng đến các khoản ghi nợ trực tiếp?
				.content
					span Nội dung đang được cập nhật
			.panel-faqs
				.title
					span Chức năng khóa tạm thời trên một thẻ tín dụng là gì?
				.content
					span Nội dung đang được cập nhật
			.panel-faqs
				.title
					span Làm thế nào để tôi đặt chức năng khóa tạm thời trên thẻ tín dụng của tôi không?
				.content
					span Nội dung đang được cập nhật