section.news-detail
	.container
		.row
			.col-xs-12
				ul.nav.nav-bld
					li
						a.active(href='tintuc.html') TẤT CẢ
					li
						a(href='#') TIN Vietbank
					li
						a(href='#') TIN THỊ TRƯỜNG
					li
						a(href='#') TIN KHUYẾN MÃI
		.row
			.col-xs-12.col-md-8.col-lg-9
				.news-content
					h1 Cơ hội du lịch Mỹ cùng Vietbank
					.time-wrap.clearfix
						time 2016-04-13, 16:04
						.social
							img(src="img/social_icon.png" alt="Social")
					.fullContent
						p Từ nay đến hết 12/12/2016, chỉ cần gửi từ 10 triệu đồng tại Ngân hàng Việt Nam Thương Tín (Vietbank) Quý khách hàng sẽ có cơ hội tham gia chương trình “Triệu phú trong tầm tay – Vận may đến nước Mỹ” với các giải thưởng hấp dẫn cùng quà tặng ngay giá trị.
						p
							img(src="img/tintuc/cohoidulichmy_ct.png" alt="Tin tuc")
						p Cụ thể với chương trình này, tất cả khách hàng cá nhân gửi tiết kiệm VNĐ kỳ hạn từ 1 tháng trở lên sẽ nhận ngay 03 ưu đãi sau: nhận ngay phiếu mua hàng siêu thị khi giao dịch tại Vietbank, được cấp mã số dự thưởng tham gia quay số cuối chương trình, &amp; khi giới thiệu thành công người thân/bạn bè gửi tiết kiệm tại Vietbank sẽ nhận ngay quà tặng giá trị.
						p Với ưu đãi tặng ngay, khách hàng chỉ cần gửi từ 30 triệu đồng trở lên sẽ nhận ngay phiếu mua hàng siêu thị Coopmart với nhiều mệnh giá: 50.000 VNĐ, 100.000 VNĐ, 200.000 VNĐ, 500.000 VNĐ. Khách hàng gửi càng nhiều, càng nhận nhiều phiếu mua hàng.
						p Với chương trình quay số trúng thưởng, khách hàng gửi từ 10 triệu đồng trở lên sẽ nhận ngay 1 mã số dự thưởng tham gia quay số cuối chương trình với các giải hấp dẫn như: 02 chuyến du lịch khám phá nước Mỹ trong 07 ngày dành cho 02 người; 05 chuyến du lịch khám phá 1 nước Đông Nam Á dành cho 02 người, 12 túi du lịch xách tay cao cấp và đặc biệt 1 sổ tiết kiệm Vietbank trị giá 500 triệu đồng. Khách hàng có thể mở nhiều sổ tiết kiệm ứng với nhiều kỳ hạn gửi khác nhau để nhận nhiều mã số dự thưởng. Một khách hàng có thể trúng nhiều giải thưởng của chương trình nếu các mã số quay thưởng trùng khớp với các mã số dự thưởng của khách hàng đang sở hữu
						p Đặc biệt, với chương trình “Triệu phú trong tầm tay – Vận may đến nước Mỹ” khách hàng khi giới thiệu thành công bạn bè hoặc người thân gửi tiết kiệm đồng thời tham gia chương trình sẽ được tặng ngay 1 dù gấp cầm tay thời trang.
						p Chương trình kéo dài từ nay đến hết 12/12/2016. Thể lệ chi tiết tham khảo "tại đây"
						p Vui lòng liên hệ hotline 18001122 để được tư vấn.
			.col-xs-12.col-md-4.col-lg-3
				.other-news
					h2 Tin khác
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") CTKM "Triệu phú trong tầm tay - Vận may đến nước Mỹ"
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") Kết quả Lễ quay số CTKM "Quà giải nhiệt - Vui hè xuyên Việt"
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") Ưu đãi dành cho chủ thẻ Tín dụng Vietbank
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") Ưu đãi dành cho chủ thẻ Vietbank MasterCard
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") CTKM "Muôn vàn quà tặng - Thay lời yêu thương"
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") CTKM " Hè rộn ràng muôn vàn quà tặng"
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") Đăng ký ngay - Giao dịch liền tay - Vận may gõ cửa
					.item-newsOther
						time 2016-04-13
						h4
							a(href="tintuc-ct.html") Thanh toán ngay – Quà trao tay từ Vietbank (07:37 | 12/6/2014)
				.news-tags
					h3 Tags
					nav.nav
						a(href="#") Vietbank
						a(href="#") Khuyến mãi
						a(href="#") Ngân hàng
						a(href="#") điện tử
						a(href="#") Vay vốn
						a(href="#") Gửi tiết kiệm
						a(href="#") Thanh toán