.col-xs-12.col-lg-9
	section.codong
		.title Báo cáo tài chính mới nhất và lưu trữ sãn, có thể xem hoặc tải về
		.tabs-wrap
			ul.nav.nav-tabs.tab-list(role="tablist")
				li.nav-item
					a(href="#tabs1" data-toggle="tab" role="tab").nav-link.active 2016
				li.nav-item
					a(href="#tabs2" data-toggle="tab" role="tab").nav-link 2015
				li.nav-item
					a(href="#tabs3" data-toggle="tab" role="tab").nav-link 2014
				li.nav-item
					a(href="#tabs4" data-toggle="tab" role="tab").nav-link 2013
				li.nav-item
					a(href="#tabs5" data-toggle="tab" role="tab").nav-link Lưu trữ
			.tab-content
				#tabs1.tab-pane.active(role="tabpanel")
					.finance
						h3 Quý 4 năm 2016
						ul
							li
								a(href="#")
									span Giải trình Báo cáo tài chính riêng
									span.text-xs  (PDF - 4.92MB)
							li
								a(href="#")
									span Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 4.53MB)
							li
								a(href="#")
									span Giải trình Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 2.27MB)
							li
								a(href="#")
									span Báo cáo tài chính riêng
									span.text-xs  (PDF - 1.31MB)
					.finance
						h3 Quý 3 năm 2016
						ul
							li
								a(href="#")
									span Giải trình Báo cáo tài chính riêng
									span.text-xs  (PDF - 4.92MB)
							li
								a(href="#")
									span Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 4.53MB)
							li
								a(href="#")
									span Giải trình Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 2.27MB)
							li
								a(href="#")
									span Báo cáo tài chính riêng
									span.text-xs  (PDF - 1.31MB)
					.finance
						h3 Quý 2 năm 2015
						ul
							li
								a(href="#")
									span Giải trình Báo cáo tài chính riêng
									span.text-xs  (PDF - 4.92MB)
							li
								a(href="#")
									span Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 4.53MB)
							li
								a(href="#")
									span Giải trình Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 2.27MB)
							li
								a(href="#")
									span Báo cáo tài chính riêng
									span.text-xs  (PDF - 1.31MB)
					.finance
						h3 Quý 1 năm 2015
						ul
							li
								a(href="#")
									span Giải trình Báo cáo tài chính riêng
									span.text-xs  (PDF - 4.92MB)
							li
								a(href="#")
									span Báo cáo tài chính hợp nhất
									span.text-xs  (PDF - 4.53MB)
				#tabs2.tab-pane(role="tabpanel")
					span Nội dung đang được cập nhật
				#tabs3.tab-pane(role="tabpanel")
					span Nội dung đang được cập nhật
				#tabs4.tab-pane(role="tabpanel")
					span Nội dung đang được cập nhật
				#tabs5.tab-pane(role="tabpanel")
					span Nội dung đang được cập nhật