.col-xs-12.col-lg-9
	section.hotro-ct
		h1.title Công cụ tính toán
		nav.nav.nav-sp
			a(href="congcu-tinhtoan-vay.html").active Tôi có thể vay bao nhiêu
			a(href="congcu-tinhtoan.html") Tính lịch trả nợ theo dư nợ giảm dần
			a(href="tinhlai-doanhnghiep.html") Tính lãi tiền gửi
		.block-borrowTool
			.desc
				span Đây chỉ là kết quả ước tính dự kiến .Mọi Chi tiết vui lòng liên hệ:
				a(href="tel:18001122")
					i.fa.fa-phone 
					| Call Center 1800 1122
			.form-group
				label Số tiền bạn dự định trả nợ mỗi tháng:
				.group
					input(type="text").form-control
					span.unit VND
				input(type="submit" value="Ước tính khoản vay")
			.result
				h3 Kết Quả
				.row.flex.flex-wrap
					.col-xs-12.col-md-6
						.item-result
							strong Dự định trả nợ mỗi tháng: 
							span 20,000,000 VND
					.col-xs-12.col-md-6
						.item-result
							strong Bạn sẽ vay tối đa: 
							span 200,000,000 VND