.container
	section.home-service
		.service.owl-carousel
			.service-col
				figure
					img(src="img/dv1.png", alt="alt")
					figcaption
						.service-content
							h3.service-name thanh toán quốc tế
							a.link(href="") Xem chi tiết
			.item
				figure
					img(src="img/dv2.png", alt="alt")
					figcaption
						.service-content
							h3.service-name Vay mua bất động sản
							a.link(href="") Xem chi tiết
			.item
				figure
					img(src="img/dv3.png", alt="alt")
					figcaption
						.service-content
							h3.service-name Vay mua ôtô siêu tốc
							a.link(href="") Xem chi tiết
			.item
				figure
					img(src="img/dv1.png", alt="alt")
					figcaption
						.service-content
							h3.service-name thanh toán quốc tế
							a.link(href="") Xem chi tiết
			.item
				figure
					img(src="img/dv2.png", alt="alt")
					figcaption
						.service-content
							h3.service-name Vay mua bất động sản
							a.link(href="") Xem chi tiết
			.item
				figure
					img(src="img/dv3.png", alt="alt")
					figcaption
						.service-content
							h3.service-name Vay mua ôtô siêu tốc
							a.link(href="") Xem chi tiết
	section.home-promotion
		.promotion.owl-carousel
			.item
				img(src="img/banner/bn2.png", alt="")
			.item
				img(src="img/banner/bn2.png", alt="")
			.item
				img(src="img/banner/bn2.png", alt="")
	section.home-news.clearfix
		.news-col.news-col1
			figure
				a(href="")
					img(src="img/news1.png", alt="alt")
					.img-overlay
					figcaption
						.promo NEW
						h3.news-name VAY ONLINE, ĐƠN GIẢN – NHANH CHÓNG – TIỆN LỢI
		.news-col.news-col2
			figure
				a(href="")
					img(src="img/news2.png", alt="alt")
					.img-overlay
					figcaption
						.promo NEW
						h3.news-name VIETBANK TRIỂN KHAI CTKM "QUÀ GIẢI NHIỆT - VUI HÈ XUYÊN VIỆT" 
		.news-col.news-col3.news-col31
			figure
				a(href="")
					img(src="img/news3.png", alt="alt")
					.img-overlay
					figcaption
						h3.news-name BỐ CÁO THAY ĐỔI ĐỊA ĐIỂM VIETBANK TRẦN QUANG KHẢI 
		.news-col.news-col3.news-col32
			figure
				a(href="")
					img(src="img/news4.png", alt="alt")
					.img-overlay
					figcaption
						h3.news-name VAY TIÊU DÙNG ĐƯỢC CẤP HẠN MỨC TÍN DỤNG
	section.home-support
		.support.owl-carousel
			.item
				.video
					img(src="img/video1.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
			.item
				.video
					img(src="img/video2.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
			.item
				.video
					img(src="img/video3.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
			.item
				.video
					img(src="img/video4.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
			.item
				.video
					img(src="img/video1.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
			.item
				.video
					img(src="img/video2.png", alt="")
					.video-caption
						a.video-name(href="") Hướng dẫn sử dụng Internet Banking
	section.home-link.clearfix
		.row.flex.flex-wrap
			.col-xs-6.col-sm-6.col-md-9.col-lg-9
				.row
					.link-col.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
						.link-img
							img(src="img/exchange.png", alt="")
						a.link(href="") Tỷ giá &amp; Lãi suất
					.link-col.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
						.link-img
							img(src="img/present.png", alt="")
						a.link(href="") Kết quả chương trình dự thưởng
					.link-col.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
						.link-img
							img(src="img/play.png", alt="")
						a.link(href="") Giới thiệu Vietbank
			.col-xs-6.col-sm-6.col-md-3.col-lg-3
				.row
					.col-xs-12.download-app
						a(href="") 
							img.device(src="img/download1.png", alt="")
							img.ios(src="img/download2.png", alt="")
							img.android(src="img/download3.png", alt="")
