section.news-list
	.container
		.row
			.col-xs-12
				ul.nav.nav-bld
					li
						a.active(href='tintuc.html') TẤT CẢ
					li
						a(href='#') TIN Vietbank
					li
						a(href='#') TIN THỊ TRƯỜNG
					li
						a(href='#') TIN KHUYẾN MÃI
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/chuongtrinhkm.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 Tin Vietbank
								time 2016-04-13
							h3
								a(href="#") Chương trình KM “Triệu phú trong tầm tay, vận may đến nước Mỹ”
							.brief Nhằm tri ân khách đã luôn đồng hành và ủng hộ trong suốt thời gian qua, Vietbank triển khai CTKM "Triệu phú trong tầm tay - Vận may đến nước Mỹ"
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/phancongnhansu.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 Tin Vietbank
								time 2016-04-13
							h3
								a(href="#") Vietbank phân công nhân sự điều hành mới
							.brief Hội đồng Quản trị Ngân hàng Việt Nam Thương Tín (Vietbank) vừa có quyết định bổ nhiệm ông Nguyễn Đăng Thanh, hiện là phó tổng giám đốc...
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/quagiainhiet.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 TIN KHUYẾN MÃI
								time 2016-04-13
							h3
								a(href="#") Chương trình KM “Quà giải nhiệt - Vui hè xuyên Việt”
							.brief Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/uudaidanhchochuthe.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 Tin Vietbank
								time 2016-04-13
							h3
								a(href="#") Ưu đãi dành cho chủ thẻ tín dụng Vietbank
							.brief Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/nhansudieuhanhmoi.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 Tin Vietbank
								time 2016-04-13
							h3
								a(href="#") Vietbank phân công nhân sự điều hành mới
							.brief Hội đồng Quản trị Ngân hàng Việt Nam Thương Tín (Vietbank) vừa có quyết định bổ nhiệm ông Nguyễn Đăng Thanh, hiện là phó tổng giám đốc...
			.col-xs-12.col-md-6.col-lg-4.item-newsWrap
				.item-news
					figure
						a(href="#")
							img(src="img/tintuc/vuihexuyenviet.png" alt="Tin tuc")
						figcaption
							.title-news.clearfix
								h4 TIN KHUYẾN MÃI
								time 2016-04-13
							h3
								a(href="#") Chương trình KM “Quà giải nhiệt - Vui hè xuyên Việt”
							.brief Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.
		.pages.newspaper
			ul.pagination
				li.active
					span 1
				li
					a(href="#") 2
				li
					a(href="#") 3