footer
	section.footer-top
		.container
			.livesupport
			.row
				.col-xs-6.col-sm-6.col-md-3.col-lg-2
					.footer-link
						h3.title Giới Thiệu
						nav.link
							ul
								li.item
									a(href="#", title="title") Giới thiệu
								li.item
									a(href="#", title="title") Ban lãnh đạo
								li.item
									a(href="#", title="title") Cổ đông
								li.item
									a(href="#", title="title") Tin tức
								li.item
									a(href="tuyendung.html", title="title") Tuyển dụng
								li.item
									a(href="#", title="title") Liên hệ
				.col-xs-6.col-sm-6.col-md-3.col-lg-2
					.footer-link
						h3.title Cá Nhân
						nav.link
							ul
								li.item
									a(href="#", title="title") Tiền gửi tiết kiệm
								li.item
									a(href="#", title="title") Tiền gửi thanh toán
								li.item
									a(href="#", title="title") Ngân hàng điện tử
								li.item
									a(href="#", title="title") Sản phẩm và dịch vụ khác
								li.item
									a(href="#", title="title") Tín dụng
								li.item
									a(href="#", title="title") Chuyển tiền quốc tế
				.col-xs-6.col-sm-6.col-md-3.col-lg-2
					.footer-link
						h3.title Doanh Nghiệp
						nav.link
							ul
								li.item
									a(href="#", title="title") Tiền gửi thanh toán
								li.item
									a(href="#", title="title") Ngân hàng điện tử
								li.item
									a(href="#", title="title") Sản phẩm và dịch vụ khác
								li.item
									a(href="#", title="title") Tín dụng
								li.item
									a(href="#", title="title") Bảo lãnh
								li.item
									a(href="#", title="title") Thanh toán quốc tế
				.col-xs-6.col-sm-6.col-md-3.col-lg-2
					.footer-link
						h3.title Tin Tức
						nav.link
							ul
								li.item 
									a(href="#", title="title") Tin Vietbank
								li.item 
									a(href="#", title="title") Tin thị trường
								li.item
									a(href="#", title="title") Tin khuyến mãi
				.col-xs-12.col-sm-12.col-md-12.col-lg-4
					.register-email
						h3.title Đăng ký nhận bản tin
						p.content Kết nối với chúng tôi để theo dõi thông tin mới nhất
						form(action="")
							.form-group
								label(for="")
								input(type="text" placeholder="Nhập email...")
								input(type="submit", value="Đăng ký")
						.social.clearfix
							a(href="")
								i.fa.fa-facebook 
							a(href="")
								i.fa.fa-youtube-play
							a(href="")
								i.fa.fa-google-plus
	section.copyright.clearfix
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-9
					.location
						p 47 Trần Hưng Đạo, thành phố Sóc Trăng, Tỉnh Sóc Trăng. 
							strong Giấy phép số 135/GP-CBC ngày 07/04/2008 - SWIFT Code: VNTTVNVX
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-3
					.copyright-content
						p @ 2016 
							strong VietBank. All rights reserved.
	.up