section.support-customer
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.col-lg-3
				figure
					.icon
						a(href="bieumau-bieuphi.html")
							img(src="img/sanpham-ct/list-icon.png")
					figcaption
						h3
							a(href="bieumau-bieuphi.html") Biểu mẫu
						.desc Tham khảo nội dung biểu phí mà bạn cần tại đây
			.col-xs-12.col-md-6.col-lg-3
				figure
					.icon
						a(href="tel:18001122")
							img(src="img/sanpham-ct/telemarker.png")
					figcaption
						h3
							a(href="tel:18001122") Tổng đài 1800 1122
						.desc Tư vấn, hỗ trợ trong giờ làm việc
			.col-xs-12.col-md-6.col-lg-3
				figure
					.icon
						a(href="mailto:callcenter@vietbank.com.vn")
							img(src="img/sanpham-ct/messenger-icon.png")
					figcaption
						h3
							a(href="mailto:callcenter@vietbank.com.vn") Gửi mail cho chúng tôi
						.desc callcenter@vietbank.com.vn
			.col-xs-12.col-md-6.col-lg-3
				figure
					.icon
						a(href="mangluoi.html")
							img(src="img/sanpham-ct/map-icon.png")
					figcaption
						h3
							a(href="mangluoi.html") Chi nhánh/ Phòng giao dịch
						.desc Tìm chi nhánh/ Phòng giao dịch gần với vị trí của bạn nhất
