section.about-us
	.container
		.row
			.col-xs-12
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/gioithieu/thungo.png" alt="Thu ngo")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Thư ngỏ của Chủ tịch Hội Đồng Quản Trị
								.desc Chào mừng Quý vị đến với Ngân hàng Việt Nam Thương Tín (Vietbank). Chúng tôi xin chân thành cảm ơn sự hợp tác của Quý vị trong thời gian qua cũng như sự quan tâm đến những triển vọng hợp tác cùng Vietbank trong thời gian sắp tới.
								a.btn-more(href="thungo.html") Xem thêm...
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Quá trình phát triển
								.desc Hiện nay, Vietbank đã có 96 điểm giao dịch tại khắp các vùng kinh tế trọng điểm trên toàn quốc. Đây là minh chứng cho sự phát triển nhanh, an toàn và bền vững của Vietbank trong bối cảnh hiện nay.
								a.btn-more(href="quatrinhphattrien.html") Xem thêm...
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/gioithieu/quatrinhphattrien.png" alt="Qua trinh phat trien")
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/gioithieu/tamnhin-sumenh.png" alt="Tam nhin su menh")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Tầm nhìn - Sứ mệnh, Giá trị cốt lõi
								.desc Năng động, hiện đại, giàu kinh nghiệm và nhiệt tình.
								a.btn-more(href="tamnhin-sumenh.html") Xem thêm...
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Chính sách chất lượng
								.desc Vietbank không ngừng phát triển và hoàn thiện trong từng hoạt động, hướng đến phục vụ khách hàng với chất lượng tốt nhất.
								a.btn-more(href="camket.html") Xem thêm...
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/gioithieu/chinhsachchatluong.png" alt="Chinh sach chat luong")
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/gioithieu/dinhhuongphattrien.png" alt="Dinh huong phat trien")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Định hướng phát triển
								.desc Xây dựng Vietbank trở thành ngân hàng bán lẻ đa năng, hiện đại, phù hợp với các chuẩn mực quốc tế, đủ khả năng để hội nhập và phát triển trong giai đoạn mới.
								a.btn-more(href="camket.html") Xem thêm...