section.quatrinh-phattrien
	.container
		.row
			.col-xs-12
				.panel#part-1
					.title
						a(href="#part-1" rel="m_PageScroll2id")
							span 2016
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-2
					.title
						a(href="#part-2" rel="m_PageScroll2id")
							span 2015
					.content
						.field
							h4 Tháng 12
							.title-field Khai trương những chi nhánh đầu tiên: Thành phố Hồ Chí Minh, <br/>
								| Hà nội, Hải phòng, Đà Nẵng
							.row.flex.flex-wrap
								.col-xs-12.col-md-6.col-lg-4
									img(src="img/quatrinhphattrien/phattrien_img1.png" alt="")
								.col-xs-12.col-md-6.col-lg-4
									img(src="img/quatrinhphattrien/phattrien_img1.png" alt="")
								.col-xs-12.col-md-6.col-lg-4
									img(src="img/quatrinhphattrien/phattrien_img2.png" alt="")
						.field
							h4 Tháng 10
							.title-field Tăng vốn điều lệ lên
							.num-wrap
								.num 3000
								span tỷ đông
						.field
							h4 Tháng 08
							.title-field Khởi công xây dựng tòa nhà VietBank tại TPHCM với tổng diện tích
							.num-wrap
								.num 14.500
								span m
								sup 2
						.field
							h4 Tháng 06
							.title-field Hệ thống mạng lưới gần
							.num-wrap
								.num 100
								span điểm giao dịch tại hầu hết các vùng kinh tế trọng điểm trên toàn quốc
						.field
							h4 Tháng 04
							.title-field Chính thức khánh thành &amp; đi vào hoạt động tòa nhà mới của <br/>
								| Vietbank tại TPHCM
							img(src="img/quatrinhphattrien/bank_img.png" alt="")
						.field
							h4 Tháng 01
							.title-field Liên tiếp được công nhận các giải thương uy tín: <br/>
								| Thương Hiệu Mạnh Việt Nam, Thương Hiệu Uy Tín, <br/>
								| Doanh Nghiệp Phát Triển Bền Vững
				.panel#part-3
					.title
						a(href="#part-3" rel="m_PageScroll2id")
							span 2014
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-4
					.title
						a(href="#part-4" rel="m_PageScroll2id")
							span 2013
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-5
					.title
						a(href="#part-5" rel="m_PageScroll2id")
							span 2012
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-6
					.title
						a(href="#part-6" rel="m_PageScroll2id")
							span 2011
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-7
					.title
						a(href="#part-7" rel="m_PageScroll2id")
							span 2010
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-8
					.title
						a(href="#part-8" rel="m_PageScroll2id")
							span 2009
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-9
					.title
						a(href="#part-9" rel="m_PageScroll2id")
							span 2008
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.
				.panel#part-10
					.title
						a(href="#part-10" rel="m_PageScroll2id")
							span 2007
					.content
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam autem voluptatem repudiandae quae eligendi saepe harum, dignissimos, at obcaecati eum, distinctio nostrum omnis assumenda numquam necessitatibus optio dolorem blanditiis maiores quam, ducimus ratione adipisci molestias! Quisquam deleniti, velit eos pariatur! Atque delectus similique animi iure placeat, blanditiis recusandae doloribus.