.col-xs-12.col-lg-9
	section.sanpham-ds2
		.row.flex.flex-wrap
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-san-pham-kinh-doanh.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay sản xuất kinh doanh
							.brief
								| Bạn có niềm đam mê gầy dựng một doanh nghiệp thành công. Vietbank luôn sát cánh tạo điều kiện tài chính thuận lợi để bạn có thể nắm bắt cơ hội thực hiện ước mơ của mình.
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-mua-nha-dat.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay mua nhà, đất
							.brief
								| An cư - Lập nghiệp” là giấc mơ không chỉ đối với những gia đình trẻ mà còn đối với cả những người độc thân trong thời đại hiện nay.
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-xay-dung-sua-chua-nha.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay xây dựng, sửa chữa nhà
							.brief
								| Ngân hàng Việt Nam Thương Tín (Vietbank) hân hạnh gửi tới Quý khách hàng sản phẩm Cho vay xây dựng, sửa chữa nhà với các tính năng nổi bật.
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-mua-xe-oto.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay mua xe ô tô
							.brief
								| Một trong những sản phẩm được cải tiến thêm các tính năng mới nhằm đáp ứng nhu cầu khách hàng chính là Vay mua ô tô siêu tốc trong 8h.
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-tieu-dung-co-tsdb.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay tiêu dùng có TSĐB (theo món hoặc hạn mức)
							.brief
								| Sản phẩm Cho vay tiêu dùng tín chấp của Vietbank là giải pháp nhanh chóng và an toàn cho bạn.
			.col-xs-12.col-md-4.col-lg-4.item-wrap
				.item-sp2
					figure
						a(href="sanpham-ct.html").center-block
							img(src="img/sanpham-ds2/cho-vay-cam-co-so-tiet-kiem.png" alt="Products")
						figcaption
							h3
								a(href="sanpham-ct.html") Cho vay cầm cố sổ tiết kiệm/số dư tài khoản/giấy tờ có giá
							.brief
								| Bạn sở hữu sổ tiết kiệm, giấy tờ có giá và đang có nhu cầu đột xuất về vốn để tiêu dùng hoặc kinh doanh.
	.pages.newspaper
		ul.pagination
			li.active
				span 1
			li
				a(href="#") 2
			li
				a(href="#") 3
