.col-xs-12.col-lg-3
	a(href="javascript:;").toggle-click
		i.fa.fa-bars
		| Danh mục
	.nav-toogle
		ul.nav.left-menusp
			li
				a(href="hoidap.html").active Câu hỏi thường gặp
			li.has-children.active
				a(href="#") Công cụ - Tiện ích
				ul.sub-menu(style="display:block;")
					li
						a(href="tygia-ngoaite.html") Tỷ giá / Lãi suất
					li
						a(href="bieumau.html") Biểu mẫu / Biểu phí
					li
						a(href="#") Mạng lưới
					li
						a(href="congcu-tinhtoan.html") Công cụ tính toán
					li
						a(href="#") Xác thực bảo lãnh
			li.has-children
				a(href="#") Video hướng dẫn
				ul.sub-menu
					li
						a(href="videohuongdan.html") Hướng dẫn thanh toán Online
					li
						a(href="#") Hướng dẫn bảo mật tài khoản
					li
						a(href="#") Hướng dẫn khác