.col-xs-12.col-lg-3
	a(href="javascript:;").toggle-click
		i.fa.fa-bars
		| Danh mục
	.nav-toogle
		nav.left-menu
			a(href="#") Báo cáo thường niên
			a(href="#").active Báo cáo tài chính
			a(href="#") Bản cáo bạch
			a(href="#") bản tin quý
			a(href="#") Điều lệ