section.tamnhin-camket
	.container
		.row
			.col-xs-12
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/tamnhinsumenh/tamnhinchienluoc.png" alt="Tam nhin chien luoc")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h1.title Tầm nhìn chiến lược
								.desc Không ngừng nâng cao chất lượng về mọi mặt để trở thành một trong những thương hiệu có uy tín trong lĩnh vực tài chính ngân hàng tại Việt Nam.
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-7.col-lg-8
							.content
								h2.title Sứ mệnh
								.desc Xây dựng Vietbank trở thành một ngân hàng bán lẻ năng động, hiện đại, có chất lượng phục vụ hàng đầu tại Việt Nam, đủ khả năng để cạnh tranh và phát triển trong giai đoạn mới.
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/tamnhinsumenh/sumenh.png" alt="Su menh")
				.item-ab
					.row.flex.flex-wrap
						.col-xs-12.col-md-5.col-lg-4
							.thumb
								img(src="img/tamnhinsumenh/giatricotloi.png" alt="Gia tri cot loi")
						.col-xs-12.col-md-7.col-lg-8
							.content
								h3.title Giá trị cốt lõi
								.desc - Nguồn nhân lực chuyên môn cao, giàu kinh nghiệm và nhiệt tình.<br/>
									| - Hệ thống công nghệ thông tin hiện đại.<br/>
									| - Mô hình tổ chức và quản lý khoa học.