section.news-special
	.container
		.slider
			.owl-carousel
				.item-newspecial
					.row
						.col-xs-12.col-md-8
							.thumb
								a(href="tintuc-ct.html")
									img(src="img/tintuc/cohoidulichmy.png" alt="Tin tuc")
						.col-xs-12.col-md-4
							.title-news
								h4 Tin mới nhất
								time 2016-04-13
							h1.title
								a(href="tintuc-ct.html") Cơ hội du lịch Mỹ cùng Vietbank
							.brief Từ nay đến hết 12/12/2016, chỉ cần gửi từ 10 triệu đồng tại Ngân hàng Việt Nam Thương Tín (Vietbank) Quý khách hàng sẽ có cơ hội tham gia chương trình “Triệu phú trong tầm tay – Vận may đến nước Mỹ” với các giải thưởng hấp dẫn...
				.item-newspecial
					.row
						.col-xs-12.col-md-8
							.thumb
								a(href="tintuc-ct.html")
									img(src="img/tintuc/cohoidulichmy.png" alt="Tin tuc")
						.col-xs-12.col-md-4
							.title-news
								h4 Tin mới nhất
								time 2016-04-13
							h2.title
								a(href="tintuc-ct.html") Cơ hội du lịch Mỹ cùng Vietbank
							.brief Từ nay đến hết 12/12/2016, chỉ cần gửi từ 10 triệu đồng tại Ngân hàng Việt Nam Thương Tín (Vietbank) Quý khách hàng sẽ có cơ hội tham gia chương trình “Triệu phú trong tầm tay – Vận may đến nước Mỹ” với các giải thưởng hấp dẫn...
				.item-newspecial
					.row
						.col-xs-12.col-md-8
							.thumb
								a(href="tintuc-ct.html")
									img(src="img/tintuc/cohoidulichmy.png" alt="Tin tuc")
						.col-xs-12.col-md-4
							.title-news
								h4 Tin mới nhất
								time 2016-04-13
							h3.title
								a(href="tintuc-ct.html") Cơ hội du lịch Mỹ cùng Vietbank
							.brief Từ nay đến hết 12/12/2016, chỉ cần gửi từ 10 triệu đồng tại Ngân hàng Việt Nam Thương Tín (Vietbank) Quý khách hàng sẽ có cơ hội tham gia chương trình “Triệu phú trong tầm tay – Vận may đến nước Mỹ” với các giải thưởng hấp dẫn...