section.tuyendung-wrap
	.container
		.row
			.col-xs-12
				ul.nav.nav-bld
					li
						a(href='#') Chương trình tuyển dụng
					li
						a.active(href='tuyendung.html') Cơ hội nghề nghiệp
					li
						a(href='#') Hướng dẫn nộp hồ sơ
		.row
			.col-xs-12
				.search-job
					input(type="text", placeholder="Từ khóa").field
					select(name="career").career
						option(value="1") Ngành nghề
					select(name="address").address
						option(value="1") Nơi làm việc
					button.btn-filter Tìm kiếm
				.table-responsive
					.search-items
						.jobs-title
							.position Vị trí tuyển dụng
							.employment Nơi làm việc
							.date-posted Ngày đăng
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Nhân viên Hỗ trợ tín dụng
								.job-place TP.HCM
								.job-date 26/10/2016
									span.status.new Mới
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Cộng tác viên Kinh doanh
								.job-place TP.HCM
								.job-date 26/10/2016
									span.status.new Mới
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Nhân viên mạng Lan
								.job-place TP.HCM
								.job-date 26/10/2016
									span.status.hot Hot
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Nhân viên Hỗ trợ và duy trì hệ thống TCBS
								.job-place TP.HCM
								.job-date 26/10/2016
									span.status.hot Hot
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Chuyên viên bảo mật thông tin
								.job-place Sóc Trăng
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Nhân viên khai thác số liệu
								.job-place Cần thơ
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Chuyên viên/Nhân viên Kinh doanh (tuyển dụng tại nhiều tỉnh thành)
								.job-place TP.HCM
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title
									a(href="tuyendung-ct.html") Giao dịch viên
								.job-place TP.HCM
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Giám đốc/Phó Giám đốc Phòng giao dịch
								.job-place TP.HCM
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Nhân viên phát triển ứng dụng CNTT
								.job-place Sóc trăng
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Nhân viên Lễ tân
								.job-place Cần thơ
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Nhân viên Tái thẳm định
								.job-place TP.HCM
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Nhân viên thư ký Ban Tổng Giám đốc
								.job-place TP.HCM
								.job-date 26/10/2016
						.jobs-item
							.job_head
								.job-title 
									a(href="tuyendung-ct.html") Nhân viên Xây dựng cơ bản
								.job-place TP.HCM
								.job-date 26/10/2016