.col-xs-12.col-lg-9
	section.hotro-ct
		h1.title Tỷ giá
		.block-exchangeChart
			.row.flex.flex-wrap
				.col-xs-12.col-md-5.col-lg-4
					.form-group
						label Ngoại tệ 1:
						.btn-ex
							a(href="javascript:;" data-toggle="dropdown").dropdown-toggle
								img(src="img/lang/us.png")
								| USD
							ul.dropdown-menu
								li
									a(href="#")
										img(src="img/lang/vn.png")
										| VND
					.form-group
						label Ngoại tệ 2:
						.btn-ex
							a(href="javascript:;" data-toggle="dropdown").dropdown-toggle
								img(src="img/lang/jp.png")
								| JPY
							ul.dropdown-menu
								li
									a(href="#")
										img(src="img/lang/vn.png")
										| VND
				.col-xs-12.col-md-7.col-lg-8
					.form-group
						label Từ ngày:
						.group
							input(type="text" value="22/12/2016").form-control
							span.icon
								i.fa.fa-calendar
					.form-group
						label Đến ngày:
						.group
							input(type="text" value="22/12/2016").form-control
							span.icon
								i.fa.fa-calendar
			.form-group
				input(type="submit" value="Xem biểu đồ")
		.block-exchangeChart
			.title-wrap
				h3.title-rate Biểu đồ tỷ giá
				.support-wrap
					.note
						.currency.op-1
							span Ngoại tệ 1: USD
						.currency.op-2
							span Ngoại tệ 2: JPY
					a(href="#").icon-share
						img(src="img/share_icon.png")
						span Chia sẻ
					.social-list
						a(href="#")
							i.fa.fa-facebook
						a(href="#")
							i.fa.fa-google-plus
			.box-chart
				img(src="img/chart.png")
			.link-exchange
				ul.nav
					li
						a(href="tygia-bieudo.html")
							i.fa.fa-line-chart
							span Biểu đồ
					li
						a(href="tygia-chuyendoi.html")
							i.fa.fa-calculator
							span Chuyển đổi ngoại tệ