.col-xs-12.col-lg-9
	section.hotro-ct
		h1.title Tỷ giá
		.block-exchangeRate
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-7
					.form-group.width-full
						label Tỷ giá ngày:
						.group
							input(type="text" value="22/12/2016").form-control
							span.icon
								i.fa.fa-calendar
				.col-xs-12.col-md-3.col-lg-2
					.form-group
						label Lần:
						.group
							select.form-control
								option(value='1') 10
								option(value='2') 15
								option(value='3') 25
								option(value='4') 35
				.col-xs-12.col-md-3.col-lg-3
					.form-group
						input(type="submit" value="Xem tỷ giá")
		.block-exchangeRate
			.title-wrap
				h3.title-rate Danh sách tỷ giá
				.support-wrap
					a(href="#")
						img(src="img/excel_icon.png")
						span Xuất Excel
					a(href="#")
						img(src="img/print_icon.png")
						span In
					a(href="#").icon-share
						img(src="img/share_icon.png")
						span Chia sẻ
					.social-list
						a(href="#")
							i.fa.fa-facebook
						a(href="#")
							i.fa.fa-google-plus
			.table-responsive
				table.table
					tr
						th Ngoại tệ
						th Mua chuyển khoản
						th Bán chuyển khoản
						th Mua tiền mặt
					tr
						td
							img(src="img/lang/lang_10.png")
							| AUD
						td 16,640.98
						td 16,640.98
						td 16,640.98
					tr
						td
							img(src="img/lang/lang_07.png")
							| CAD
						td 16,981
						td 17,024
						td 17,178
					tr
						td
							img(src="img/lang/lang_05.png")
							| EUR
						td 24,308
						td 24,369
						td 24,590
					tr
						td
							img(src="img/lang/lang_06.png")
							| GBP
						td &nbsp;
						td 34,207
						td 34,581
					tr
						td
							img(src="img/lang/lang_03.png")
							| USD
						td 22,270
						td 22,290
						td 22,360
					tr
						td
							img(src="img/lang/lang_05.png")
							| EUR
						td 24,308
						td 24,369
						td 24,590
					tr
						td
							img(src="img/lang/lang_09.png")
							| HKD
						td &nbsp;
						td 2,868
						td 2,894
			.link-exchange
				ul.nav
					li
						a(href="tygia-bieudo.html")
							i.fa.fa-line-chart
							span Biểu đồ
					li
						a(href="tygia-chuyendoi.html")
							i.fa.fa-calculator
							span Chuyển đổi ngoại tệ