section.banner-wrap
	.banner.home-banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption CityGym keeps your body more healthy than ever 
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption CityGym keeps your body more healthy than ever 
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption CityGym keeps your body more healthy than ever 