footer
	.footer-top
		.container
			.footer-col.text-center
				.footer-title Theo dõi cùng chúng tôi để nhận ưu đãi hấp dẫn
				.social
					a.fa.fa-facebook(href="#!")
					a.fa.fa-youtube-play(href="#!")
					a.fa.fa-twitter(href="#!")
					a.fa.fa-google-plus(href="#!")
				nav.footer-link
					.row
						.col-12.col-md-4
							a(href="#!") giới thiệu
							a(href="#!") khoá học
							a(href="#!") điểm mạnh
						.col-12.col-md-4
							a(href="#!") lịch học
							a(href="#!") chuyên gia
							a(href="#!") hỏi đáp
						.col-12.col-md-4
							a(href="#!") tin tức
							a(href="#!") tuyển dụng
							a(href="#!") liên hệ
	.footer-bottom
		.container
			.copyright.text-center © 2018 citigym. all right reserved. designed by canhcam.