header
	.header-top
		.container
			.header-wrap
				.hotline
					a(href="tel:0988 745 626") <span class="lnr lnr-phone-handset"></span>Hotline: 0988 745 626
				.language
					.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') <span class="lnr lnr-earth"></span>VN
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') VN
							a.dropdown-item(href='#') EN
				.col-right
					.search
						.search-wrap
							.searchbox
								input(type="text" placeholder="Tìm kiếm...")
								button.searchbutton <span class="lnr lnr-magnifier"></span>
					.top-link
						a(href="#!") Về chúng tôi
						a(href="#!") Hỏi đáp
						a(href="#!") Tuyển dụng
						a(href="#!") Liên hệ
	.header-main
		.container
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.menu
				.menu-logo
					.sitelogo
						a(href="index.html")
							img(src="img/logo.png", alt="")
				.menu-left
					.menu-wrap
						ul.menu-link
							li.active
								a(href="#!") trang chủ
							li
								a(href="#!") câu lạc bộ
							li
								a(href="#!") điểm mạnh
				.menu-right
					.menu-wrap
						ul.menu-link
							li
								a(href="#!") lịch học
							li
								a(href="#!") dịch vụ
							li
								a(href="#!") tin tức
