header
	.header-top
		.container
			.header-wrap
				nav.page-nav
					ul
						li
							a(href="#!") Cá nhân
						li
							a(href="#!") Doanh nghiệp
						li.active
							a(href="#!") Thẻ
						li
							a(href="#!") Về Vietbank
				.header-tool
					.branch
						a(href="#!") <i class="fa fa-map-marker" aria-hidden="true"></i>ATMs & Chi nhánh
					.hotline
						a(href="tel:1800 1122") <i class="fa fa-phone" aria-hidden="true"></i>Hotline: 1800 1122
					.search
						.search-wrap
							.searchbox
								input(type="text")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language
						a(href="#!") English
	.header-main
		.container
			.header-wrap
				.sitelogo
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.col-right
					.menu
						.menu-logo
							.sitelogo
								a(href="index.html")
									img(src="img/logo.png", alt="")
						.menu-wrap
							ul.menu-link
								li.has-sub
									a(href="#!") Sản phẩm
								li.has-sub
									a(href="#!") Ưu đãi
								li.has-sub
									a(href="#!") Trả góp
								li.has-sub
									a(href="#!") Hỗ trợ
					.ebanking
						a(href="#!") <i class="fa fa-unlock-alt" aria-hidden="true"></i> Ngân hàng trực tuyến