.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.diemmanh-page
	.container
		h1.page-title.text-center SÂN CHƠI HÀNG NGOẠI, ĐẬM CHẤT VIỆT
		.page-des.text-center(style="max-width: 940px") Chúng tôi có thể khoác lên mình những bộ cánh hàng đầu thế giới nhưng bên trong vẫn giữ những tố chất đặc trưng của người Việt. Chúng tôi mang những cải tiến thế giới về Việt Nam, thiết kế và hiệu chỉnh phù hợp nhất với sức khỏe người Việt Đến và cảm nhận sân chơi fitness đỉnh cao cực chất tại Việt Nam
		.diemmanh-banner
			.img
				img(src="img/content/dm1.jpg", alt="")
			.caption
				.content
					ul
						li Hệ thống khóa từ thông minh, bảo mật tối đa Esmart Lock, bảo mật bằng 1 cái chạm 
						li Trang thiết bị chính hãng từ những thương hiệu hàng đầu thế giới Technogym, LesMills, Life Fitness, Escape, Reebok
						li Phòng tập đầu tiên ở TP HCM sử dụng dụng cụ Smart bar, Smart step của Lesmills.
						li Bản quyền LesMills cho 3 bộ môn Body Pump, Body Combat, RPM
				.btn-wrap
					a.btn-viewmore(href="#!") Xem thêm
		.diemmanh-feature
			.feature-content
				.row
					.col-12.col-md-6.text-col
						.feature-title.text-uppercase.text-600 ĐỘI NGŨ TẬN TÂm
						.content
							p Gặp gỡ những chuyên gia hàng đầu trong lĩnh vực Fitness. Một cách tự nhiên, họ mang tình yêu nghề vào hun đúc ngọn lửa tập luyện bên trong bạn. Tất cả tâm sức của họ đặt ở việc cải thiện sức khỏe của bạn, giúp cho bạn sống vui hơn, khỏe mạnh hơn mỗi ngày.....
						.btn-wrap
							a.btn-viewmore(href="#!") Xem thêm
					.col-12.col-md-6.img-col
						.feature-img
							img(src="img/content/dm2.jpg", alt="")
			.feature-content
				.row
					.col-12.col-md-6.text-col
						.feature-title.text-uppercase.text-600 KHÁCH HÀNG NHƯ NGƯỜI NHÀ
						.content
							p Tất cả những nỗ lực đầu tư của chúng tôi vào CITIGYM là để bạn - những người quan trọng nhất - cảm thấy CITIGYM không chỉ là một phòng tập, mà như chính ngôi nhà thứ hai của mình vậy
							ul
								li Khu vườn Gym-Fitness 000 m2 theo phong cách nhiệt đới, cải thiện tâm trạng đầu tiên tại Việt Nam
								li Bãi gửi xe thuận tiện, rộng rãi cho cả xe hơi và xe máy
								li Phòng xông hơi khô và xông hơi ướt tiện nghi
								li Khu cafe Lounge ngồi chờ
								li Các bộ môn tập luyện được thiết kế tùy vào mục đích luyện tập và tình trạng thể lực của bạn
						.btn-wrap
							a.btn-viewmore(href="#!") Xem thêm
							a.btn-visit(href="#!") Tham quan phòng tập
					.col-12.col-md-6.img-col
						.feature-img
							img(src="img/content/dm3.jpg", alt="")
