.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.service-page
	.container
		h1.page-title.text-center Dịch vụ
		.page-des Tham gia những lớp Group X, Yoga, những buổi tập với Huấn Luyện Viên phù hợp với mục tiêu tập luyện. Cùng khám phá thông tin và lợi ích tập luyện của từng lớp học tại CITIGYM.
		.page-cate
			ul
				li.active
					a(href="#!") Tất cả
				li
					a(href="#!") Tăng cơ, tăng sức mạnh
				li
					a(href="#!") Cardio đốt mỡ
				li
					a(href="#!") Giãn cơ, dẻo dai
				li
					a(href="#!") Giảm stress
				li
					a(href="#!") Vui vẻ, trẻ hóa
		.service-group
			.group-name Tăng cơ, tăng sức mạnh
			.service-list
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									a.service-name(href="#!") Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									a.service-name(href="#!") Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									a.service-name(href="#!") Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									a.service-name(href="#!") Body Pump
									a.service-link(href="#!") Xem thêm
		.service-group
			.group-name Tăng cơ, tăng sức mạnh
			.service-list
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
		.service-group
			.group-name Tăng cơ, tăng sức mạnh
			.service-list
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4.col-lg-3
						.service-item
							figure
								a.service-img(href="#!")
									img(src="img/service/1.jpg", alt="")
								figcaption
									.service-name Body Pump
									a.service-link(href="#!") Xem thêm
section.home-connect
	.container
		h2.home-title.text-center.text-white kết nối với chúng tôi
		.home-des.text-center.text-white.text-500 Get more active online and tag your #CitiGym moments here or leave a comment on our Facebook page with #CitiGym to be part of the conversation. After all, sharing is caring...
		.social-connect
			.row.no-gutters.justify-content-center
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
section.home-club
	.container
		.club-title.text-center cùng khám phá thông tin và lợi ích tập luyện của từng lớp học tại citigym
		.btn-wrap.text-center
			a.btn-visit(href="#!") Tham quan câu lạc bộ