.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.support-page
	.container
		h2.page-title.text-center Hỏi đáp
		.row
			.col-12.col-lg-5
				.sendmess-form
					.module-title Gửi câu hỏi
					.form-wrap
						.form-group
							label Họ tên
							input(type="text")
						.form-group
							label Email
							input(type="text")
						.form-group
							label Tiêu đề
							input(type="text")
						.form-group
							label Nội dung
							textarea(name="", cols="30", rows="3")
						.frm-btn
							input(type="submit", value="Gửi")
			.col-12.col-lg-7
				.faq-list
					.faq.active
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content(style="display:block")
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
					.faq
						.faq-title Hiện tại Citigym có những chi nhánh phòng tập ở những đâu?
						.faq-content
							.content
								p Một số chi nhánh phòng tập của Citigym tại các địa chỉ sau:
									br
									|- Citigym Thành Thái, quận 10 
									br
									|- Citigym Royal, quận 4 
									br
									|- Citigym Vạn Hạnh Mall, quận 10 
									br
									|- Citigym Golden Mansion, quận Phú Nhuận 
									br
									|- Citigym Sunavenue, quận 2
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4