section.home-feature
	.container
		#responsivetabs
			ul.feature-tabs
				li.feature
					a(href="#tab1")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab2")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab3")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab4")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab5")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab6")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
			#tab1.tab-content
				h1.home-title.text-center điểm khác biệt của citigym
				.diemmanh-list
					.row.no-gutters
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
			#tab2.tab-content
				h2.home-title.text-center Chuyên gia
				.professor-list
					.row.justify-content-center
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
						.col-6.col-md-4.col-lg-3
							.professor
								.img
									img(src="img/home/p1.jpg", alt="")
								.name Bojan Milinkov
			#tab3.tab-content
				h2.home-title.text-center Cơ sở vật chất
				.cosovatchat
					.row.justify-content-center
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Hệ thống khóa từ thông minh, bảo mật tối đa Esmart Lock, bảo mật bằng 1 cái chạm
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Trang thiết bị chính hãng từ những thương hiệu hàng đầu thế giới Technogym, LesMills, Life Fitness, Escape, Reebok
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Khu vườn Gym-Fitness 3000 m2 theo phong cách nhiệt đới, cải thiện tâm trạng đầu tiên tại Việt Nam
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Phòng tập đầu tiên ở TP HCM sử dụng dụng cụ Smart bar, Smart step của Lesmills.
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Bãi gửi xe thuận tiện, rộng rãi cho cả xe hơi và xe máy
						.col-12.col-md-6.col-lg-4
							.vatchat
								.img 
									img(src="img/home/vc1.jpg", alt="")
								.des Phòng xông hơi khô và xông hơi ướt tiện nghi
				.btn-wrap.text-center
					a.btn-view(href="#!") xem phòng tập
			#tab4.tab-content
				h2.home-title.text-center Bộ môn
				.diemmanh-list.s2
					.row.no-gutters
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Tăng cơ, tăng sức mạnh
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
			#tab5.tab-content
				h2.home-title.text-center Câu lạc bộ
				.diemmanh-list.s2
					.row.no-gutters
						.col-12.col-sm-6.col-md-6
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-6
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						//- .col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Citigym Thành Thái, Q.10
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
			#tab6.tab-content
				h2.home-title.text-center tham quan
				.visit-form
					.module-title CITIGYM xứng đáng với mọi kì vọng của bạn, dành cho bạn chứ không phải ai khác. Ghé ngang CITIGYM để khám phá, chúng tôi luôn chào đón bạn bằng cả sự nhiệt thành. 
					.form-wrap
						.form-group
							label Họ tên*:
							input(type="text")
						.form-group
							label Số điện thoại:
							input(type="text")
					.choose-club
						.title Bạn muốn tham quan câu lạc bộ nào?
					.club-list
						.row
							.col-12.col-md-6.col-lg-4
								.club.active
									.img
										img(src="img/home/c1.jpg", alt="")
									.name Citigym Thành Thái, Q.10
							.col-12.col-md-6.col-lg-4
								.club
									.img
										img(src="img/home/c1.jpg", alt="")
									.name Citigym Thành Thái, Q.10
							.col-12.col-md-6.col-lg-4
								.club
									.img
										img(src="img/home/c1.jpg", alt="")
									.name Citigym Thành Thái, Q.10
							.col-12.col-md-6.col-lg-4
								.club
									.img
										img(src="img/home/c1.jpg", alt="")
									.name Citigym Thành Thái, Q.10
							.col-12.col-md-6.col-lg-4
								.club
									.img
										img(src="img/home/c1.jpg", alt="")
									.name Citigym Thành Thái, Q.10
					.frm-btn
						input(type="submit", value="Đăng ký")
section.home-news
	.container
		h2.home-title.text-center CẬP NHẬT THÔNG TIN MỚI NHẤT 
		.news-list
			.row
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
section.home-connect
	.container
		h2.home-title.text-center.text-white kết nối với chúng tôi
		.home-des.text-center.text-white.text-500 Get more active online and tag your #CitiGym moments here or leave a comment on our Facebook page with #CitiGym to be part of the conversation. After all, sharing is caring...
		.social-connect
			.row.no-gutters.justify-content-center
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
section.home-club
	.container
		.club-title.text-center cùng khám phá thông tin và lợi ích tập luyện của từng lớp học tại citigym
		.btn-wrap.text-center
			a.btn-visit(href="#!") Tham quan câu lạc bộ