.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.schedule-page
	.container
		h1.page-title.text-center Lịch học
		.room-list
			.row
				.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					a.room(href="#!")
						.img
							img(src="img/home/r1.jpg", alt="")
						.name Citigym Thành Thái, Q.10
				.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					a.room(href="#!")
						.img
							img(src="img/home/r1.jpg", alt="")
						.name Citigym Thành Thái, Q.10
				.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					a.room(href="#!")
						.img
							img(src="img/home/r1.jpg", alt="")
						.name Citigym Thành Thái, Q.10
				.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					a.room(href="#!")
						.img
							img(src="img/home/r1.jpg", alt="")
						.name Citigym Thành Thái, Q.10
				.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					a.room(href="#!")
						.img
							img(src="img/home/r1.jpg", alt="")
						.name Citigym Thành Thái, Q.10
		.page-cate
			ul
				li.active
					a(href="#!") Tất cả
				li
					a(href="#!") Body Pump
				li
					a(href="#!") Bumps and Tums
				li
					a(href="#!") Core Training
				li
					a(href="#!") Zumba
				li
					a(href="#!") RPM
				li
					a(href="#!") Body Combat
				li
					a(href="#!") Sexy Dance
				li
					a(href="#!") Yoga
				li
					a(href="#!") Pilates
				li
					a(href="#!") KickBoxing
		.calendar
			.month tháng 6
			.date-list
				a(href="#!") Thứ 4
					strong 6
				a.active(href="#!") Thứ 5
					strong 7
				a(href="#!") Thứ 6
					strong 8
				a(href="#!") Thứ 7
					strong 9
				a(href="#!") Chủ nhật
					strong 10
				a(href="#!") Thứ 2
					strong 11
				a(href="#!") Thứ 3
					strong 12
		.calendar-table
			.table-header
				