.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.news-page
	.container
		h2.page-title.text-center Tin tức
		.page-cate
			ul.justify-content-center
				li.active
					a(href="#!") Tất cả
				li
					a(href="#!") Blog
				li
					a(href="#!") Khuyến mãi
		.row
			.col-12.col-lg-8.col-xl-9
				.news-detail
					h1.news-name Bật mí 10 mẹo dinh dưỡng không “thần thánh” như bạn nghĩ
					time 02/06/2018
					.news-des Các thành phần dinh dưỡng trong thực phẩm, cùng các chế độ ăn kiêng giảm cân không phải lúc nào cũng đúng và phù hợp với tất cả mọi người. Khám phá ngay 10 mẹo ăn uống mà bạn không nên tin tưởng để tránh tổn hại cho sức khoẻ.
					.content
						p Nước ép detox giải độc, chế độ low-carb giúp ăn kiêng giảm cân hiệu quả, hoặc giảm cholesterol là những thông tin được chia sẻ và truyền miệng nhau hàng ngày, hàng giờ. Tuy nhiên, chưa có một nghiên cứu cụ thể nào chứng minh các chế độ trên là hiệu quả và có thể áp dụng cho tất cả mọi người.
						p INSIDER đã nói chuyện với các chuyên gia dinh dưỡng, trong đó có Grace Derocha - một chuyên viên về dinh dưỡng và huấn luyện viên về sức khoẻ tại Blue Cross Blue Shield of Michigan, và Frida Harju - chuyên gia dinh dưỡng của ứng dụng sức khoẻ Lifesum, đã chia sẻ và tiết lộ sự thật về các chế độ ăn uống và chất dinh dưỡng thậm chí có thể gây hại hơn là tốt cho sức khoẻ của bạn. Khám phá ngay 10 mẹo ăn uống mà bạn không nên tin tưởng để tránh tổn hại cho sức khoẻ. 
						figure
							img.w-100(src="img/news/img1.jpg", alt="")
						p 
							strong 1. Than hoạt tính là siêu thực phẩm
							br
							|Siêu thực phẩm là các loại thực phẩm chứa nhiều dưỡng chất, hàm lượng dinh dưỡng cực kỳ cao. "Than hoạt tính được biết đến với các đặc tính hấp thụ tuyệt vời ... nhưng nó cũng có thể làm giảm hệ thống chất dinh dưỡng mà cơ thể cần", Derocha nói với INSIDER. "Các chất bổ sung than hoạt tính có thể làm giảm hiệu quả của thuốc."
						p 
							strong 2. Chất làm ngọt nhân tạo tốt hơn so với các chất thay thế vị ngọt
							br
							|Derocha cho biết "nhiều chất làm ngọt nhân tạo là hóa chất được xử lý và hầu hết cơ thể của chúng ta có phản ứng không tốt với chúng gây ra các vấn đề về tiêu hóa và thậm chí là nhức đầu. Derocha đề nghị thêm một ít mật ong, agave vào bữa ăn của bạn để thay thế.
						p 
							strong 3. Tinh bột là kẻ thù 
							br
							|Chúng ta đều biết rằng chế độ ăn cắt giảm tinh bột là một ý kiến tồi, nhưng Derocha nhấn mạnh rằng không phải tất cả carbs đều được tạo ra giống nhau. Cô nhấn mạnh "các loại tinh bột phức tạp tìm thấy trong ngũ cốc nguyên hạt hoặc lúa mì nguyên chất có chứa chất dinh dưỡng và chất xơ tốt".
						p 
							strong 4. Cảm giác thèm ăn là do thiếu chất dinh dưỡng
							br
							|"Thật khó để kết luận rằng thèm muốn có liên quan đến sự thiếu hụt dinh dưỡng", Derocha chia sẻ. "Thông thường, đó là cách để mọi người biện minh cho việc ăn những thức ăn nhất định."Cô nói rằng thèm muốn thực sự có thể là một dấu hiệu ít được biết đến của mất nước, vì vậy hãy uống nước để giảm bớt cảm giác thèm ăn.
						p 
							strong 5. Việc ăn tối sau 6 giờ không tốt cho sức khoẻ
							br
							|Harju chia sẻ "cơ thể của bạn sẽ không biết thời gian là gì, cho dù đó là 6 hay 7 giờ chiều, những gì nó biết là có bao nhiêu calo bạn tiêu thụ." Cô cũng đề nghị thay vì giảm thời gian ăn, chúng ta nên cắt giảm phần ăn ít hơn.
					.share
						img(src="img/share.jpg", alt="")
			.col-12.col-lg-4.col-xl-3
				.sidebar-news
					.small-title Tin tức khác
					.post-list
						a.post(href="#!")
							.img
								img(src="img/news/1.jpg", alt="")
							.name Hướng dẫn chế độ dinh dưỡng cho người tập thể hình chi tiết A-Z
						a.post(href="#!")
							.img
								img(src="img/news/1.jpg", alt="")
							.name Hướng dẫn chế độ dinh dưỡng cho người tập thể hình chi tiết A-Z
						a.post(href="#!")
							.img
								img(src="img/news/1.jpg", alt="")
							.name Hướng dẫn chế độ dinh dưỡng cho người tập thể hình chi tiết A-Z
						a.post(href="#!")
							.img
								img(src="img/news/1.jpg", alt="")
							.name Hướng dẫn chế độ dinh dưỡng cho người tập thể hình chi tiết A-Z
						a.post(href="#!")
							.img
								img(src="img/news/1.jpg", alt="")
							.name Hướng dẫn chế độ dinh dưỡng cho người tập thể hình chi tiết A-Z