.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.career-page
	.container
		h2.page-title.text-center tuyển dụng
		.career-table
			table
				tr
					th Tiêu đề
					th Địa điểm
					th Ngày hết hạn
					th
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
				tr
					td 
						a(href="#!") Tuyển dụng huấn luyện viên cá nhân
					td Quận Phú Nhuận
					td 07/06/2018
					td
						a(href="#!") xem chi tiết
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4