.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.career-page
				.career-detail
					h1.career-name Huấn luyện viên Gym
					time 28/12/2018
					.content
						h6 
							strong Thông tin tuyển dụng:
						.career-info
							table
								tr
									td Vị trí tuyển dụng: 
									td Huấn luyện viên Gym
								tr
									td Chức vụ: 
									td Huấn luyện viên
								tr
									td Yêu cầu giới tính: 
									td Nam
								tr
									td Địa điểm làm việc: 
									td Tp Hồ Chí Minh
								tr
									td Yêu cầu độ tuổi: 
									td 25-35
								tr
									td Mức lương: 
									td Thương lượng
								tr
									td Số lượng cần tuyển:
									td 5
								tr
									td Kinh nghiệm tối thiểu: 
									td 1
								tr
									td Yêu cầu khác: 
									td Trao đổi khi phỏng vấn.
						h6 
							strong Mô tả công việc:
						ul
							li Tư vấn cho khách hàng về sức khỏe, chế độ dinh dưỡng cũng như phương pháp tập luyện.
							li Xây dựng chương trình tâp luyện và theo dõi hiệu quả tập luyện cho khách hàng.
							li Tạo động lực và hướng dẫn để giúp khách hàng đạt được kết quả tập luyện tốt nhất.
						h6
							strong Yêu Cầu Công Việc:
						ul
							li Có niềm đam mê trong lĩnh vực Thể Dục Thể Hình
							li Nếu chưa có kinh nghiệm hoặc mới tốt nghiệp bạn sẽ được hoan nghênh và được đào tạo đầy đủ về các kiến thức cũng như kỹ năng cần thiết để trở thành một HLV Cá nhân (Personal Trainer - PT) trước khi làm việc.
							li Tính cách: hoạt bát, vui vẻ, hòa đồng, tinh thần lạc quan, tích cực, có mong muốn mang niềm vui đến cho người khác và có tinh thần không ngừng học hỏi trong công việc.
							li Luôn mong muốn được thăng tiến và phát triển bản thân...
		.col-12.col-lg-4.col-xl-3
			.btn-wrap
				a.btn-apply(href="#!") Ứng tuyển online
			.other-job
				.small-title Tuyển dụng khác
				.job-list
					a.job(href="#!") Tuyển dụng huấn luyện viên cá nhân phòng tập Q4
					a.job(href="#!") Tuyển dụng huấn luyện viên cá nhân phòng tập Q4
					a.job(href="#!") Tuyển dụng huấn luyện viên cá nhân phòng tập Q4
					a.job(href="#!") Tuyển dụng huấn luyện viên cá nhân phòng tập Q4
					a.job(href="#!") Tuyển dụng huấn luyện viên cá nhân phòng tập Q4