.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.career-page
	.container
		.career-detail
			h1.career-name Huấn luyện viên Gym
			time 28/12/2018
			.content
				p Tận dụng những mảng xanh của thiên nhiên kết hợp trang thiết bị hiện đại và đội ngũ nhân viên nhiệt tình, chuyên nghiệp sẽ mang đến cho khách hàng những trải nghiệm tuyệt vời.
				p Hiên trung tâm mới hình thành và đang nổ lực phát triển vững mạnh,bởi vậy chúng tôi không ngừng tìm kiếm những ứng viên có tài năng, có nhiệt huyết và sẵn sàng phấn đấu để theo đuổi đam mê. Với lịch làm việc linh hoạt, chương trình đào tạo chuyên sâu, đây không chỉ là cơ hội việc làm tốt cho bạn với một mức thu nhập hấp dẫn mà còn là cơ hội để bạn tham gia vào môi trường làm việc năng động và đoàn kết cùng nhiều cơ hội hoàn thiện kỹ năng và kinh nghiệm của bản thân.
				p Nếu bạn khát khao phát triển và đang mong muốn xây dựng cho mình một sự nghiệp vững chắc, hãy liên hệ với chúng tôi để có cơ hội nghề nghiệp tuyệt vời này.
			.career-form
				.module-title Thông tin ứng viên
				.form-wrap
					.form-row
						.form-group.col-12.col-md-6
							label Họ tên
							input(type="text")
						.form-group.col-12.col-md-6
							label Email
							input(type="text")
						.form-group.col-12.col-md-6
							label Số điện thoại
							input(type="text")
						.form-group.col-12.col-md-6
							label Vị trí ứng tuyển
							input(type="text")
						.form-group.col-12.col-md-6
							label Resume (CV)
							input(type="text")
						.form-group.col-12.col-md-6
							label Tiêu đề
							input(type="text")
						.form-group.col-12
							label Nội dung
							textarea(name="", cols="30", rows="5")
						.frm-btn
							input(type="submit", value="Gửi")
