.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.news-page
	.container
		h1.page-title.text-center Tin tức
		.page-cate
			ul.justify-content-center
				li.active
					a(href="#!") Tất cả
				li
					a(href="#!") Blog
				li
					a(href="#!") Khuyến mãi
		.news-list
			.row
				.col-12.col-md-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
				.col-12.col-md-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái.Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4