section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Happy day
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
section.landing-section
	.container
		h1.home-title Ưu đãi khi mở thẻ
		.content
			ul.flower
				li Miễn phí thường niên năm đầu tiên cho tất cả khách hàng đăng ký thẻ thành công trong thời gian chương trình.
				li 
					p.mb-2 Miễn phí thường niên năm đầu tiên cho các sản phẩm cá nhân, bao gồm:
					ul
						li SMS Banking
						li Mobile Banking
						li Internet Banking
						li Phí quản lý tài khoản
				li CBNV Vietbank được ưu đãi miễn phí cho 03 giao dịch rút tiền mặt đầu tiên
		.card-drop
			img(src="img/landing/drop.png", alt="")