section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Happy day
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/breadcrumb/4.jpg", alt="")
section.promotion-page
	.container
		h1.d-none Happy day
		.ht-title.img.text-center.mb-3
			img(src="img/landing/hpd.png", alt="")
		.home-content.text-center(style="max-width: 530px")
			.content
				p Thật thú vị khi mỗi sáng thức dậy khách hàng có vô vàn cơ hội mua sắm và sử dụng dịch vụ với giá tốt bất ngờ.
		.page-cate
			ul
				li.active
					a(href="#!") Ẩm thực
				li
					a(href="#!") Du lịch
				li
					a(href="#!") Sức khỏe
				li
					a(href="#!") Mua sắm
				li
					a(href="#!") Giải trí
		.place-filter
			label Chọn theo:
			.select
				select
					option Tất cả Tỉnh/TP
			.select
				select
					option Tất cả Quận/Huyện